<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>


  <div class="page-content">
    <div class="container">
      {% include header.html %}
      <div class="homepage-image">
        <img id="homepage-image" src="{{site.baseurl}}/images/des-moines-night.jpg" width="80%" alt="Downtown Des Moines">
      </div>
      <div class="row">
        <div id="welcome" class="col-lg-9">
          <h4 class="header">Welcome to Central Iowa IES</h4>
          <p>The Illuminating Engineering Society of North America (IES) is the recognized technical authority on illumination. The IES serves as a forum for the exchange of information and ideas as well as a vehicle for professional development and recognition. Through technical committees, research, investigations, and discussions, guidance is provided to the lighting professionals through consensus-based lighting recommendations. Its members work with lighting in a variety of capacities - lighting designers, architects, interior designers, government & utility personnel, engineers, contractors, manufacturers, distributors, researchers and educators - throughout the world. Together they share a common interest in lighting and a common desire to promote the use of the most innovating lighting technologies with a focus on judicious use of energy in all lighting applications.</p>
          <p>The Central Iowa IES section's vision is to build upon a century of outstanding excellence to create a premier lighting community that's dedicated to promoting the art and science of lighting to its members, allied profession organizations and to the public. We continually strive to uphold these efforts through educational programs, presentations, and social networking events.</p>
        </div>
        <div id="homepage-announcements" class="col-lg-3">
          <h4>Upcoming Events</h4>
          <h4><a href="{{ site.baseurl }}/events">Central Iowa IES Fall Social</a></h4>
          <p>November 2017</p>
          <h4><a href="{{ site.baseurl }}/events">Central Iowa IES 1st Annual Product Showcase</a></h4>
          <p>February 22nd</p>
          <h4><a href="{{ site.baseurl }}/events">What is Bright</a></h4>
          <p>March 2018</p>
          <h4><a href="{{ site.baseurl }}/events">Central Iowa IES 4th Annual Golf Outing</a></h4>
          <p>August 30th</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <h2 class="header">Platinum Sponsors</h2>
          <a href="http://www.ksalighting.com/" target="_blank">
            <img src="{{ site.baseurl}}/images/KSALightingControls-CondensedLogo.png" class="image-width" alt="KSA Lighting & Controls Logo">
          </a>
        </div>
        <div id="lighting-solutions" class="col-lg-4 col-lg-offset-4">
          <a href="http://lsiowa.com/" target="_blank">
            <img src="{{ site.baseurl}}/images/LightSolutions_logo.jpg" class="image-width-bigger" alt="Light Solutions Iowa Logo">
          </a>
        </div>
      </div>
      <div class="row">
        <h2 class="header">Gold Sponsors</h2>
        <div class="col-lg-4">
          <a href="http://www.musco.com/" target="_blank">
            <img src="{{ site.baseurl}}/images/Musco_Color.png" class="image-width-small" alt="Musco Lighting Logo">
          </a>
        </div>
        <div class="col-lg-4 col-lg-offset-4">
          <a href="http://www.musco.com/" target="_blank">
            <img src="{{ site.baseurl}}/images/AlvineLogoNew.png" class="image-width-smallish" alt="Alvine Logo">
          </a>
        </div>
      </div>
    </div>
  </div>

    {% include footer.html %}
    <script src="{{ site.baseurl }}/css/jquery-2.1.1.min.js"></script>
    <script src="{{ site.baseurl }}/css/bootstrap.min.js"></script>
  <body>
</html>
